<div class="container">
  <div class="card spacing-all">
    <h2>Title</h2>
    <textarea class="form-control" aria-label="With textarea" rows="8">For Output of Text Message</textarea>
    <div class="spacing-top d-flex justify-content-between">
      <span class="btn">12</span>
      <button type="button" class="btn btn-primary">Add Comment</button>
    </div>
  </div>
  <div class="spacing-top spacing-top d-flex justify-content-between">
      <div class="d-flex flex-column comment">
        <span class="btn">1234</span>
        <button type="button" class="btn btn-primary"><i class="far fa-thumbs-up"></i></button>
        <button type="button" class="btn btn-primary"><i class="far fa-thumbs-down"></i></button>
      </div>
        <textarea class="form-control" aria-label="With textarea" rows="6">For Output of Text Message</textarea>
    </div>
</div>
<button id="add-message" type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
<button id="show-docs" type="button" class="btn btn-primary"><i class="fas fa-book"></i></button>
