.spacing-m-all {
  margin: .5em;
}
.spacing-all {
  padding: .5em;
}
.spacing-top {
  margin-top: 1em;
}
.spacing-top-small {
  margin-top: .2em;
}
.flex-grow {
  flex: 1 0 12em;
}
.flex-elem-6 {
  min-width: 6em;
}
.flex-elem-12 {
  min-width: 12em;
}
