<div class="container">
  <div class="card spacing-all">
    <h2 translate>Settings</h2>
    <div class="container row">
      <div class="d-flex flex-row container-fluid">
        <span class="spacing-all spacing-top flex-elem-6"><span class="badge badge-success float-right" translate>Available</span></span>
        <span class="flex-grow"><input type="text" class="form-control spacing-all spacing-top" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"></span>
        <span class="spacing-all spacing-top flex-elem-12 align-middle" translate>Username</span>
      </div>
      <div class="d-flex flex-row container-fluid">
        <span class="spacing-all spacing-top flex-elem-6"><span class="badge badge-success float-right" translate>Ok</span></span>
        <span class="flex-grow"><input type="text" class="form-control spacing-all spacing-top" placeholder="New Password" aria-label="Username" aria-describedby="basic-addon1"></span>
        <span class="spacing-all spacing-top flex-elem-12 align-middle" translate>New Password</span>
      </div>
      <div class="d-flex flex-row container-fluid">
        <span class="spacing-all spacing-top flex-elem-6"><span class="badge badge-danger float-right" translate>Mismatch</span></span>
        <span class="flex-grow"><input type="text" class="form-control spacing-all spacing-top" placeholder="Repeat New Password" aria-label="Username" aria-describedby="basic-addon1"></span>
        <span class="spacing-all spacing-top flex-elem-12 align-middle" translate>Repeat New Password</span>
      </div>
      <div class="d-flex flex-row container-fluid">
        <span class="spacing-all spacing-top flex-elem-6"><span class="badge badge-danger float-right" translate>Wrong</span></span>
        <span class="flex-grow"><input type="text" class="form-control spacing-all spacing-top" placeholder="Current Password" aria-label="Username" aria-describedby="basic-addon1"></span>
        <span class="spacing-all spacing-top flex-elem-12 align-middle" translate>Current Password</span>
      </div>
      <div class="clearfix spacing-top container-fluid">
          <button type="button" name="button" class="btn btn-success spacing-top float-right" translate>Submit</button>
      </div>
      <div class="spacing-top"></div>
    </div>
  </div>
</div>
